google-genai
streamlit
langchain
langchain-classic
langchain-community
langchain-google-genai
langchain-text-splitters
chromadb
pypdf # For PDF document loading
python-dotenv
protobuf==3.20.3
sentence_transformers
langchain_huggingface
